{% extends 'administration/base.html.twig' %}

{% block title %}{% trans %}admin.system.title{% endtrans %}{% endblock %}

{% block content %}
    <div class="card mt-3">
        <div class="card-header">
            {% trans %}admin.system.title{% endtrans %}
        </div>
        <div class="card-body">
            <div class="mb-3 clearfix">
                <a href="{{ url('app_admin_system') }}"
                   data-system-create="true"
                   class="btn btn-primary float-end">{% trans %}admin.system.form.create{% endtrans %} <i
                            class="bi-plus-lg"></i></a>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            {% trans %}base.list{% endtrans %}
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover form-field-list-table table-fixed system-table">
                <thead>
                <tr>
                    <th scope="col">{% trans %}base.name{% endtrans %}</th>
                    <th scope="col">{% trans %}base.active{% endtrans %}</th>
                    <th scope="col"><span class="float-end">{% trans %}base.action{% endtrans %}</span></th>
                </tr>
                </thead>
                <tbody>
                {% for system in systems %}
                    <tr class="form-field-row">
                        <td>
                            {{ system.name }}
                        </td>
                        <td>
                            {% include 'administration/base/booleanColumnRenderer.html.twig' with { 'value': system.active } %}
                        </td>
                        <td>
                            {% if system.custom %}
                                <a href="{{ url('app_admin_system_delete', {'id': system.id }) }}"
                                   class="float-end ms-1 btn btn-danger"
                                   data-delete-system="true">
                                    <i class="bi-trash"></i>
                                </a>
                            {% endif %}

                            <a href="#"
                               data-edit-system="true"
                               data-id="{{ system.id }}"
                               data-name="{{ system.name }}"
                               data-active="{{ system.active|default('0') }}"
                               data-custom="{{ system.custom|default('0') }}"
                               class="float-end ms-1 btn btn-secondary">
                                <i class="bi-pen"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="system-form visually-hidden">
        <form name="system-form" method="post" action="{{ url('app_admin_system_save') }}">
            <input type="hidden" name="id">
            <input type="hidden" name="custom">
            <div class="mb-3">
                <label for="name"
                       class="form-label">{% trans %}admin.system.form.systemName{% endtrans %}</label>
                <input type="text"
                       name="name"
                       class="form-control"
                       autocomplete="off"
                       required="required"
                />
            </div>
            {% include 'administration/base/booleanField.html.twig' with { 'fieldLabel': 'admin.system.form.active'|trans, 'fieldName': 'active'} %}
        </form>
    </div>
{% endblock %}