{% extends 'administration/base.html.twig' %}

{% block title %}{% trans %}admin.fossil.title{% endtrans %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card mt-3">
                <div class="card-header">
                    {% trans %}admin.fossil.detailsTitle{% endtrans %}
                </div>
                <div class="card-body">
                    <div class="clearfix">
                        <div class="btn-group float-end">
                            <a href="{{ url('app_admin_fossil_create_pdf', {'id': fossil.id } ) }}"
                               target="_blank"
                               class="btn btn-primary">
                                {% trans %}admin.fossil.createPdf{% endtrans %} <i class="bi-file-earmark-pdf"></i>
                            </a>
                            <a href="{{ url('app_admin_fossil_edit_form', {'id': fossil.id } ) }}"
                               class="btn btn-secondary">
                                {% trans %}base.edit{% endtrans %} <i class="bi-pencil"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card mt-3">
                <div class="card-header">
                    {% trans %}admin.fossil.groups.general{% endtrans %}
                </div>
                <div class="card-body">
                    {% include 'administration/fossil/detail/renderer.html.twig' with { 'fossilFormFields': fossilFormFields, 'groupName': 'GENERAL' } %}

                    <div class="mt-3">
                        <label class=""><strong>{% trans %}admin.fossil.form.category{% endtrans %}:</strong></label>
                        {% for category in fossil.categories %}
                            <span class="badge text-bg-secondary">{{ category.name }}</span>
                        {% endfor %}
                    </div>
                    <div class="mt-3">
                        <label class=""><strong>{% trans %}admin.fossil.form.tags{% endtrans %}:</strong></label>
                        {% for tag in fossil.tags %}
                            <span class="badge text-bg-secondary">{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-lg-2 mt-3">
        <div class="col">
            <div class="card h-100Y">
                <div class="card-header">
                    {% trans %}admin.fossil.groups.discoveryInformation{% endtrans %}
                </div>
                <div class="card-body">
                    {% include 'administration/fossil/detail/renderer.html.twig' with { 'fossilFormFields': fossilFormFields, 'groupName': 'DISCOVERY' } %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-header">
                    {% trans %}admin.fossil.groups.stratigraphy{% endtrans %}
                </div>
                <div class="card-body">
                    {% include 'administration/fossil/detail/renderer.html.twig' with { 'fossilFormFields': fossilFormFields, 'groupName': 'STRATIGRAPHY' } %}
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-lg-2 mt-3">
        <div class="col">
            <div class="card h-100">
                <div class="card-header">
                    {% trans %}admin.fossil.groups.taxonomy{% endtrans %}
                </div>
                <div class="card-body">
                    {% include 'administration/fossil/detail/renderer.html.twig' with { 'fossilFormFields': fossilFormFields, 'groupName': 'TAXONOMY' } %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-header">
                    {% trans %}admin.fossil.groups.images{% endtrans %}
                </div>
                <div class="card-body">
                    {% for image in fossil.images %}
                        <div class="image-container">
                            <img src="{{ asset(image.thumbnailPath) }}"
                                 data-image-thumbnail="true"
                                 data-index="{{ loop.index }}"
                                 class="img-thumbnail"
                                 alt="{{ image.name }}"
                                 width="200"
                                 height="200">
                            <span class="image-delete-button btn btn-sm btn-danger"
                                  data-fossilImageDeleteButton="true"
                                  data-url="{{ url('app_admin_fossil_image_delete', { id: image.id }) }}"><i class="bi bi-trash"></i></span>
                        </div>
                    {% endfor %}
                    {% include 'administration/fossil/detail/renderer.html.twig' with { 'fossilFormFields': fossilFormFields, 'groupName': 'IMAGE' } %}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <div class="card h-100">
                <div class="card-header">
                    {% trans %}admin.fossil.groups.other{% endtrans %}
                </div>
                <div class="card-body">
                    {% include 'administration/fossil/detail/renderer.html.twig' with { 'fossilFormFields': fossilFormFields, 'groupName': 'OTHER' } %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal image-carousel-modal" tabindex="-1" data-image-modal="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-modal-close-button="true"></button>
                </div>

                <div class="modal-body">
                    <div class="card-body image-carousel" data-image-carousel="true">
                        <div id="carouselExampleIndicators" class="carousel slide">
                            <div class="carousel-inner">
                                {% for image in fossil.images %}
                                    <div class="carousel-item{% if loop.index == 1 %} active{% endif %}" data-index="{{ loop.index }}">
                                        <img src="{{ asset(image.path) }}" class="d-block" alt="{{ image.name }}">
                                    </div>
                                {% endfor %}
                            </div>

                            <button class="carousel-control-prev"
                                    type="button"
                                    data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next"
                                    type="button"
                                    data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-modal-close-button="true">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}