<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ fossil.number }} | {{ fossil.genius }} {{ fossil.species }} {{ fossil.subspecies }}</title>
</head>
<body>
    {% block pdf_content %}
        <h1>{{ fossil.number }}</h1>
        <h2>{{ fossil.genius }} {{ fossil.species }} {{ fossil.subspecies }}</h2>

        <h3>{% trans %}admin.fossil.groups.general{% endtrans %}</h3>
        {% include 'administration/fossil/detail/renderer.html.twig' with { 'fossilFormFields': fossilFormFields, 'groupName': 'GENERAL' } %}

        {% set isFirst = 1 %}
        <strong>{% trans %}admin.fossil.form.category{% endtrans %}:</strong>
        {% for category in fossil.categories %}
            {% if isFirst == 1 %}
                {% set isFirst = 0 %}
                {{ category.name }}
            {% else %}
              | {{ category.name }}
            {% endif %}
        {% endfor %}
        <br>
        {% set isFirst = 1 %}
        <strong>{% trans %}admin.fossil.form.tags{% endtrans %}:</strong>
        {% for tag in fossil.tags %}
            {% if isFirst == 1 %}
                {% set isFirst = 0 %}
                {{ tag.name }}
            {% else %}
                | {{ tag.name }}
            {% endif %}
        {% endfor %}

        <h3>{% trans %}admin.fossil.groups.discoveryInformation{% endtrans %}</h3>
        {% include 'administration/fossil/detail/renderer.html.twig' with { 'fossilFormFields': fossilFormFields, 'groupName': 'DISCOVERY' } %}

        <h3>{% trans %}admin.fossil.groups.stratigraphy{% endtrans %}</h3>
        {% include 'administration/fossil/detail/renderer.html.twig' with { 'fossilFormFields': fossilFormFields, 'groupName': 'STRATIGRAPHY' } %}

        <h3>{% trans %}admin.fossil.groups.taxonomy{% endtrans %}</h3>
        {% include 'administration/fossil/detail/renderer.html.twig' with { 'fossilFormFields': fossilFormFields, 'groupName': 'TAXONOMY' } %}

        <h3>{% trans %}admin.fossil.groups.other{% endtrans %}</h3>
        {% include 'administration/fossil/detail/renderer.html.twig' with { 'fossilFormFields': fossilFormFields, 'groupName': 'OTHER' } %}

    {% endblock %}
</body>
</html>