<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if settings.brand %}
            {{ settings.brand }}
        {% else %}
            {% trans %}admin.baseTitle{% endtrans %}
        {% endif %}
    </title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ asset('bootstrap/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap/bootstrap-icons-1.10.5/font/bootstrap-icons.css') }}">
    <script type="application/javascript" src="{{ asset('bootstrap/Bootstrap.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('css/Gallery/style.css') }}">
    {% block stylesheets %}{% endblock %}

    <script type="application/javascript" src="{{ asset('js/Admin/MultiSelectField.js') }}"></script>
    <script type="application/javascript" src="{{ asset('js/Admin/Pagination.js') }}"></script>
    {% block javascripts %}{% endblock %}
</head>
<body>
    {% include 'gallery/nav.html.twig' with {'settings': settings } %}
    {% include 'gallery/banner.html.twig' with {'settings': settings } %}

    <div class="container mt-3">
        <div class="accordion " id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        {% trans %}base.filter{% endtrans %}
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse m-3" data-bs-parent="#accordionFlushExample">
                    {% include "gallery/filter.html.twig" %}
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        {% include 'pagination.html.twig' with {'settings': settings } %}
    </div>

    <div class="container mt-3">
        {% block content %}
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                {% for fossil in fossilList %}
                    <div class="col">
                        <div class="card gallery-fossil-card">
                            <a href="#" class=" card-img-top">
                                <img src="{% if fossil.images|length > 0 %}
                                            {{ asset(fossil.images|first.thumbnailPath) }}
                                        {% else %}
                                            {{ asset('images/no-image.png') }}
                                        {% endif %}"
                                     class="card-img-top"
                                     alt="">
                            </a>
                            <div class="card-body">
                                <figure class="mb-0">
                                    <blockquote class="blockquote">
                                        <p>{{ fossil.genius }}</p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer mb-0">
                                        {{ fossil.species }} {{ fossil.subspecies }}
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
    </div>

    <div class="container mt-3">
        {% include 'pagination.html.twig' with {'settings': settings } %}
    </div>

    <script>
        const multiSelectFields = document.querySelectorAll('select[data-multi-select-plugin="true"]');

        multiSelectFields.forEach(function (field) {
            new MultiSelectField(field, true);
        });

        new Pagination();
    </script>
</body>
</html>
